.first-section {
  padding: 0 30px;
  margin: 0;
}

.first-section .container-fluid {
  padding: 12% 5%;
}

.bg-image {
  background-image: url("../img/first-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40.625rem; /* 650px */
  color: white;
  position: relative;
  border-radius: 2.5rem; /* 40px */
  text-align: left;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem; /* 40px */
  z-index: 1;
}

.headings-container {
  max-width: 70%;
  z-index: 2;
  position: relative;
}

h1 {
  font-size: 4.375rem; /* 70px */
  font-weight: 600;
  line-height: 1.2;
}

h1 span {
  color: #ff6600;
}

.headings-container h2 {
  font-size: 2.5rem; /* 40px */
  margin-bottom: 1rem;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .headings-container {
    max-width: 80%;
  }

  h1 {
    font-size: 3.5rem; /* 56px */
  }

  .headings-container h2 {
    font-size: 2rem; /* 32px */
  }
}

@media (max-width: 992px) {
  .headings-container {
    max-width: 80%;
  }

  h1 {
    font-size: 3rem; /* 48px */
  }

  .headings-container h2 {
    font-size: 1.75rem; /* 28px */
  }
}

@media (max-width: 768px) {
  .headings-container {
    max-width: 90%;
  }

  h1 {
    font-size: 2.5rem; /* 40px */
  }

  .headings-container h2 {
    font-size: 1.5rem; /* 24px */
  }

  .bg-image {
    padding: 10% 3%;
    border-radius: 1.25rem; /* 20px */
    height: 28.125rem; /* 450px */
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem; /* 32px */
  }

  .headings-container h2 {
    font-size: 1.25rem; /* 20px */
  }

  .bg-image {
    padding: 8% 2%;
    border-radius: 0.9375rem; /* 15px */
    height: 21.875rem; /* 350px */
  }
}
