:root {
  --footer-text-color: #888888;
  --footer-background-color: #ffffff;
  --footer-hover-color: #aaaaaa;
}

.footer {
  color: var(--footer-text-color);
  font-size: 0.9375rem; /* 15px */
}

footer.footer {
  width: 100%;
  padding: 0 80px;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

footer .container {
  max-width: 100%;
  padding: 2rem;
}

footer .row {
  margin: 0;
}

.footer-logo-container {
  width: 12.5rem; /* 200px */
  height: 12.5rem; /* 200px */
  background-color: var(--footer-background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5625rem; /* 25px */
}

.footer a {
  text-decoration: none;
  color: var(--footer-text-color);
}

.footer a:hover,
.footer a:focus {
  text-decoration: none;
  color: var(--footer-hover-color);
}

.footer .col-lg-3,
.footer .col-lg-2 {
  padding: 1.25rem; /* 20px */
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem; /* 20px */
}
.footer-div:not(:first-child) {
  margin-top: 1.25rem; /* 20px */
}

.footer h5 {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
}

@media (max-width: 998px) {
  .footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
  }

  .footer .col-lg-3,
  .footer .col-lg-2 {
    padding: 1.25rem; /* 20px */
    text-align: center;
    flex-basis: unset;
  }

  .footer-div ul li {
    margin-bottom: 1.25rem; /* 20px */
    text-align: center;
  }

  .footer-logo-container {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  footer.footer {
    padding: 0 60px;
  }

  .footer-div {
    gap: 0.625rem; /* 10px */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .footer .col-lg-3,
  .footer .col-lg-2 {
    flex-basis: 100%;
    padding: 0.625rem; /* 10px */
    text-align: center;
  }

  .footer-div ul li {
    margin-bottom: 1.875rem; /* 30px */
    text-align: center;
  }
}
