.section-two-text-container h2 {
  font-size: 2.5rem; /* 40px */
  color: #000000;
}

.section-two-text-container p {
  font-size: 1.125rem; /* 18px */
  color: #000000;
}

.button-section-2 {
  display: block;
  margin: 0;
  align-items: center;
  align-self: flex-start;
  background-color: #ff6600;
  border: 1px solid transparent;
  border-radius: 2.5rem; /* 40px */
  margin-top: 1.25rem; /* 20px */
  padding: 0.75rem 1.875rem !important; /* 12px 30px */
  box-shadow: rgba(0, 0, 0, 0.02) 0 0.0625rem 0.1875rem 0; /* 0 1px 3px */
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem; /* 16px */
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-section-2:hover,
.button-section-2:focus {
  background-color: #cc5200;
  color: #e6e6e6;
}

.button-section-2:active {
  background-color: #cc5200;
}

.image-container {
  padding: 0;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panels-img {
  border-radius: 2.5rem; /* 40px */
  background-size: 100% 100%; /* could be "cover" value of property too */
  background-position: center;
  background-repeat: no-repeat;
}
