.testimonial-section {
  background-color: #ffffff;
  padding: 3.75rem 0.9375rem; /* 60px 15px */
}

.testimonial-title {
  text-align: left;
  color: #333;
  margin-bottom: 2.5rem; /* 40px */
  font-size: 2.5rem;
}

.testimonial-card {
  background-color: #ebe9e8;
  border-radius: 1.25rem; /* 20px */
}

.testimonial-stars {
  color: #f6d774;
}

.testimonial-card {
  background-color: #f9f9f9;
  border: none;
  border-radius: 0.625rem; /* 10px */
  padding: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}

.testimonial-card p {
  color: #888;
  font-size: 1.25rem;
  margin-bottom: 1.0625rem; /* 17px */
}

.card-text {
  font-size: 1.25rem; /* 20px */
  margin-bottom: 1.0625rem; /* 17px */
}

.testimonial-stars {
  color: #ffd700;
  font-size: 1.25rem;
  margin-bottom: 1.0625rem; /* 17px */
}

.testimonial-author {
  color: #888;
  font-weight: 600;
  font-size: 1.25rem;
}

.card-body {
  border-radius: 1.25rem; /* 20px */
  border: 1px solid #ebe9e8;
  background-color: #ffffff;
  padding: 1.875rem; /* 30px */
}

@media (max-width: 768px) {
  .testimonial-section {
    padding: 2.5rem 0.9375rem; /* 40px 15px */
  }

  .testimonial-title {
    text-align: center;
    margin-bottom: 1.875rem; /* 30px */
    font-size: 2rem;
  }

  .testimonial-card p {
    font-size: 1rem;
  }
  .testimonial-stars {
    font-size: 1rem;
  }
  .testimonial-author {
    font-size: 1rem;
  }

  .testimonial-card {
    margin-bottom: 0.3rem;
  }
}
