.footer {
  color: #888888;
  font-size: 15px;
}

.footer-logo-container {
  max-width: 200px;
  max-height: 200px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer a {
  text-decoration: none;
  color: #888888;
}

.footer a:hover {
  text-decoration: none;
  color: #c1c1c1;
}

.footer .col-lg-3 {
  padding: 20px;
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-div:not(:first-child) {
  margin-top: 20px;
}

.footer h5 {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .footer-div {
    gap: 10px;
  }

  .footer .col-lg-3 {
    padding: 10px;
  }
}
