body {
  font-family: "Poppins", sans-serif;
}

/* Nav bar */

.navbar {
  font-size: 15px;
  color: #333333;
  padding: 0;
}

.logo-nav {
  max-width: 250px;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.nav-item-custom .nav-link {
  font-weight: 500;
  color: #333333;
  transition: color 0.2s, font-weight 0.2s;
}
.nav-item-custom .nav-link:hover,
.nav-item-custom .nav-link:active {
  color: #ff6600;
  text-decoration: underline;
  transform: scale(1.2);
}

.orange-button-navbar {
  background-color: #ff6600;
  border-radius: 40px;
  padding: 6px 12px;
  transition: background-color 0.2;
}
.orange-button-navbar:hover {
  background-color: #cc5200;
}
.orange-button-navbar .nav-link {
  color: white;
  font-weight: 500;
  transition: background-color 0.2;
}
.orange-button-navbar .nav-link:hover {
  background-color: #cc5200;
  color: #e6e6e6;
  text-decoration: none;
  transform: scale(1);
}

.nav-link {
  display: flex;
  align-items: center;
}
